extends ../layout/main

block variables
    - let title = $.home.title
    - let themeColor = $.home.theme
    - let ibd = '/img/'
block content
    section.hederbar#hederbar
        .container
            .row
                +b.logo
                    +icon($.headerbar.logo.icon, 'red')
                    svg(style='width:0;height:0;position:absolute;' aria-hidden='true' focusable='false')
                        linearGradient#logo-gradient-red
                            stop(offset='0%' stop-color='#e42626')
                            stop(offset='100%' stop-color='#c10b0b')
                    +e.SPAN.text= $.home.title
                span.description= $.headerbar.description.text
                .phone
                    a(href=$.headerbar.recall.link + $.home.phone).text= $.home.phone
                    .rounded-square-icon
                        +icon($.headerbar.recall.icon)
    section.main#main
        - let main = $.main_screen
        .container
            .row
                .main-content
                    span.sub-header= main.section_title.sub
                    h1.section-header= main.section_title.text
                    span.subtitle!= main.section_title.subtitle
                    +b.A(href= main.buttons.want_lawyer.link data-scroll= main.buttons.want_lawyer.link).btn._red-gradient= main.buttons.want_lawyer.text
    section.services#services
        - let services = $.services_screen;
        .container
            .row
                h2.section-title!= services.section_title.text
            .row
                .services
                    each service in services.services
                        +b.service-item
                            +icon(service.icon)
                            +e.text!= service.text
    section.about#about
        - let about = $.about_screen
        .container
            .row
                h2.section-title!= about.section_title.text
                .description!= about.description.text
            .row
                .info
                    each info in about.items
                        +b.info-item
                            +e.SPAN.title= info.title
                            +e.P.description!= info.description
    section.howto#howto
        - let howto = $.howto_screen
        .container
            .row
                h2.section-title!= howto.section_title.text
            .row
                .service-road
                    each point in howto.items
                        +b.road-item
                            +icon(point.icon)
                            +e.P.text!= point.text
    section.advantages#advantages
        - let advantages = $.advantages_screen
        .container
            .row
                h2.section-title!= advantages.section_title.text
            .row
                +b.table.advantages-list
                    +e.table-col
                        each comp in advantages.type_comparison
                            +e.table-row
                                +e.SPAN.text!= comp
                    +e.table-col._green
                        each comp in advantages.advogrand
                            .table-row
                                +e.SPAN.text!= comp
                    +e.table-col._bordered
                        each comp in advantages.other
                            .table-row
                                +e.SPAN.text!= comp
                .our-services-used
                    sapn.title= advantages.our_services_used.title
                    each who in advantages.our_services_used.who
                        +b.who-use
                            +icon(who.icon)
                            +e.P.text!= who.who
                    +b.A(href= advantages.our_services_used.buttons.more.link, target= '_blank' data-modal= advantages.our_services_used.buttons.more.link).btn._red-gradient= advantages.our_services_used.buttons.more.text
    section.partners#partners
        - let partners = $.partners_screen
        .container
            .row
                h2.section-title!= partners.section_title.text
            .row
                .partners-list
                    each i in partners.items
                        +b.partner-item
                            +e.IMG(src= ibd + 'partner_' + i.img + '.png', alt= i.alt)
                            +e.P.description= i.description
    section.rate#rate
        - let rate = $.rate_screen
        .container
            .row
                h2.section-title!= rate.section_title.text
                span.subtitle!= rate.section_title.subtitle
            .row
                .tabs-container
                    .tabs-list
                        p.select-card-title= rate.select_your_card.text
                        each t in rate.tabs
                            a(href= '#'.concat(t.name) class= t.is_active ? 'tab-active':'' data-tab= '#'.concat(t.name)).tab-item= t.text
                            //- - console.log(_.value(t, t.link))
                    .tabs-content-wrapper
                        each t in rate.tabs
                            +b.tab-content(id= t.name class= t.class)
                                each r in rate.rates
                                    +b.rate-card(class= t.name==='compare' ? '_col' : '')
                                        +b.rate-title
                                            +e.SPAN.text!= r.title
                                            +e.IMG(src= ibd + r.img).img
                                        +b.UL.services-list
                                            each i in r[t.name]
                                                +e.LI.item
                                                    +e.service!= i.title
                                                    +e.duration= i.duration
                                        +b.details
                                            +e.price-label= rate.price.text
                                            +e.price= r.price.by_year
                                            +b.a(href= r.buttons.consultation.link class= r.buttons.consultation.class data-modal= r.buttons.consultation.link).btn= r.buttons.consultation.title
                                            +b.a(href= r.buttons.buy.link class= r.buttons.buy.class target= '_blank').btn._light-red= r.buttons.buy.title
    section.contacts#contacts
        - let contacts = $.contacts_screen
        .container
            .row
                .leave-question
                    +b.FORM(action= contacts.ask_question.form.action method= contacts.ask_question.form.method).form._leave-question
                        +e.P.form-title!=contacts.ask_question.form.title
                        each i in contacts.ask_question.form.inputs
                            +e.LABEL(for= i.id).input-label= i.title
                            if i.type!=='textarea'
                                +e.INPUT(type= i.type id= i.id required name= i.id).input
                            else if i.type==='textarea'
                                +e.TEXTAREA(id= i.id required name= i.id).textarea
                        - let b = contacts.ask_question.form.buttons
                        +b.INPUT(type= b.order_call.type, value= b.order_call.text).btn
                        p.button-signature!= b.order_call.button_signature
                +b.contacts-list
                    +e.container
                        h2.section-title!= contacts.section_title.text
                        +e.P.phone-title!= contacts.contacts.phone.text
                        +e.P.phone!= $.home.phone
                        +e.P.email-title!= contacts.contacts.email.text
                        +e.A(href='mailto:' + contacts.contacts.email.email).email!= contacts.contacts.email.email
                        +e.P.working-hours-label!= contacts.contacts.working_hours.text
                        +e.P.weekdays!= contacts.contacts.working_hours.weekdays.text
                        +e.P.weekends!= contacts.contacts.working_hours.weekends.text
    each m in $.modals
        .modal-container(id= m.name)
            - let form = _.value($, m.object)
            if m.replace
                each r in m.replace
                    - var new_val = r.is_obj ? _.query($, r.value) : r.value
                    - _.value($, r.key, new_val)
            +b.modal-window
                +e.header
                    +e.close-button
                +e.body
                    +b.FORM(action= form.action method= form.method).form._leave-question
                        +e.P.form-title!= form.title
                        each i in form.inputs
                            +e.LABEL(for= i.id).input-label= i.title
                            if i.type!='textarea'
                                +e.INPUT(type= i.type id= i.id required name= i.id).input
                            else if i.type==='textarea'
                                +e.TEXTAREA(id= i.id name= i.id).textarea
                        - let b = form.buttons
                        +b.INPUT(type= b.order_call.type, value= b.order_call.text).btn
                        p.button-signature!= b.order_call.button_signature
